body{
	background-color: #1C1C1C/*#4B2D6E*/;
	text-align: center;
	display: block;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
::-webkit-scrollbar{
	display: none;
}
img{
	/*margin: 100px;*/
	border: none;
	width: 101vw;
	height: 90vh;
	margin-left: -2%;
	margin-top: -2%;
}
.image{
	border: none;
	width: 99.4vw;
	height: 90vh;
	margin-top: -2%;
}
.titleNotGlow{
	position: absolute;
	top: 70%;
	font-size: 3.5rem;
	color: #ffffff;
	width: 95vw;
}
.title{
	position: absolute;
	top: 73%;
	width: 497vw;
	height: 20vh;
	background-color: #1C1C1C;
	border: none;
	opacity: 0.9;
	margin: 0%;
}
.wrapper{
	position: flex;
	text-align: center;
	border-radius: 6rem;
	width: 95vw;
	height: 85.5vh;
	margin-top: 3.3%;
	margin-bottom: 3.3%;
	display: flex;
	flex-direction: row;
	transform: rotate(90deg) translateY(75%) translateX(25%);
	object-fit: cover;
}
html{
	scroll-behavior: smooth;
}
.outerWrapper{
	position: absolute;
	text-align: center;
	border: 0.2rem solid #ffffff;
	box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
	border-radius: 6rem;
	height: 95vw;
	width: 85.5vh;
	margin-top: 3.3%;
	margin-bottom: 3.3%;
	transform: rotate(-90deg) translateX(-167%) translateY(-28.5%);
	transform-origin: top left;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;
}
.arrowBox{
	position: absolute;
	top: 75%;
	right: 93%;
	width: 0;
	height: 20px;
}
.arrow{
	position: absolute;
	height: 1.5rem;
	width: 0.3rem;
	background: #ffffff;
	animation: animate 2s infinite;
}
.arrow:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: -0.55rem;
	width: 1rem;
	height: 1rem;
	border-bottom: 6px solid #ffffff;
	border-right: 6px solid #ffffff;
	transform: rotate(45deg);
}
@keyframes animate{
	0%{
		transform: translateY(0);
		opacity: 0;
	}
	50%{
		transform: translateY(3rem);
		opacity: 1;
	}
	100%{
		transform: translateY(6rem);
		opacity: 0;
	}
}

.Home{
	position: absolute;
	top: -25%;
	right: 90%;
	width: 60px;
	color: #ffffff;
}